/*-------Header component--------*/
header {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*-------Nav component--------*/

.menuList {
    list-style: none;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.menuList li a{
    text-decoration: none;
    outline: none;
    padding: 2px 1px 0;
    color: black;
}