body {
  margin: 0;
  margin-top: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEFEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.container {
  grid-column: 2;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
  gap: 5px
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1
}

.flex-2 {
  flex: 2;
}

.button{
  background-color: var(--yellow);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
}

.button:hover {
  cursor: pointer;
}

/*---------BookigForm---------*/

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-group {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-label {
  flex: 1;
}

.form-control {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.form-input, .form-select {
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--black);
}

.form-error {
  color: red;
}
